body.login-bg

  / = render "layouts/notification_bell"

  .dashboard-page style="padding-top:64px;"
    - if @active_family.friend_family?
      = render "friend_tree", members: @friend_members
    - else
      = render "family_tree", node: @family_tree, depth: 0