/ app/views/messages/create.turbo_stream.slim
= turbo_stream.append "messages" do
  = render "messages/message", message: @message

= turbo_stream.replace "message_form" do
  = render "messages/form", chatroom: @chatroom